html {
    font-size: 20px;
}
h1, h2 {
    color: darkmagenta;
}
h1, h2, p, ul, table {
    background-color: lightgray;
}
footer p, form {
    background-color: gray;
}
p > strong {
    color: darkmagenta;
}
p * >strong {
    font-size: 1.5rem;
}