html {
    font-size: 20px;
}
i[lang] {
    color: darkgoldenrod;
}
article[id="mieszko"] {
    background-color: bisque;
}
#boleslaw {
    background-color: orange;
}
img[alt*="Matejko"] {
    border: 1rem solid mediumvioletred
}