article p:first-of-type {
    color: darkslategray;
}

i:lang(la) {
    color: darkgoldenrod;
}

a:link {
    color: #00FF00;
}

a:visited {
    color: gray;
}
a:hover {
    color: rgb(255,0,0);
}
input:focus {
    color: #00F;
}