html {
    font-size: 20px;
}
tr:nth-of-type(even) {
    color: lightblue;
}
tr:nth-child(2n+1) {
    color: lightgreen;
}
tr:nth-last-child(4) {
    color: lightgreen;
}
tr td:nth-of-type(2n) {
    font-weight: bold;
}
label:nth-child(2n) {
    color: brown;
}