html {
    font-size: 20px;
}
input:checked {
    margin-left: 40px ;
}
input:checked + label {
    color: darkgreen;
}
:target {
    background-color: chartreuse;
}
p:first-line {
    font-weight: bold;
}
p::first-letter {
    font-size: 1.5rem;
    font-family: monospace;
}