.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0 auto;
    padding: 0.5rem;
}

.naglowek {
    color: midnightblue;
}

.article {
    border: 1px solid midnightblue;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    min-height: 22rem;
}
.article__img {
    float: right;
    max-height: 20rem;
    margin: 1rem;
}
.article__h2 {
    float: left;
    margin: 1rem;
}
.table {
    border-collapse: collapse;
}
.table__td {
    padding: 1rem;
    border: 1px dashed midnightblue;
}
.stopka {
    color: slategray;
}
.formularz__label {
    display: block;
}
.formularz__pole {
    display: block;
}
.formularz__pole--do-lewej {
    float: left;
}