.dokument {
    font-size: 20px;
    background-color: snow;
    margin: 0;
    padding: 0.5rem;
}

.naglowek {
    border-top: 0.5vw double maroon ;
    border-bottom: 0.5vw double maroon ; 
    max-width: 90vw;
    margin-top: 2vw ;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.tresc {
    border-left: 1px dotted maroon;
    border-right: 1px dotted maroon;
    padding-left: 3vw;
    padding-right: 1vw;
}

.article {
    border-bottom: 1px solid maroon;
    margin-top: 3rem;
}

/* coś tu nie działa*/
.article__img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10rem;
    margin-right: 10rem;
    box-shadow: 20px 10px 15px gray;
    max-width: 70vw;
}

.article__h2 {
    border-radius: 1rem;
    background-color: maroon;
    color: white;
    width: 50vw;
    padding: 1rem;
}
.aside {
    max-width: 90vw;
    overflow: scroll scroll;

}