.dokument {
    font-size: 20px;
    background-color: snow;
    margin: 0;
    padding: 0.5rem;
}
.lista--linki {
    background-color: cornsilk;
}
.lista__li {
    display: inline;
}
.article {
    border: 1px solid brown;
}

.article::after {
    content: "";
    clear: both;
    display: table;
}
.article__img {
    float: right;
    width:50%;
    margin: 20px;
}
.article__h2 {
    float: left;
    width:50%;
    margin: 20px;
}