.dokument {
    font-size: 20px;
    background-color: snow;
    margin: 0;
    padding: 0.5rem;
}
.lista--linki {
    background-color: cornsilk;
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 150px;
    opacity: 0.9;

}
.article {
    border: 1px solid brown;
}
.article__img {
    width: 30%;
    position: relative;
    left: 150px;
}
.article__h2 {
    position: sticky;
    max-width: 150px;
    background-color: lightgray;
}