.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0;
}
.tresc {
    column-count: 2;
    column-gap: 30px;
    column-rule-color: maroon;
    column-rule-style: double;
    column-rule-width: 5px;
}

.article {
    page-break-inside: avoid;
 } 
.article__img {
    max-width: 100%;
}