.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0px;
}

.lista_li {
    display: block;
    margin: 5px;
}

.lista--linki {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: yellow;
}

.tresc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0px;
}

.article {
    border-left: 1px solid brown;
    border-right: 1px solid brown;
    margin: 0;
    padding: 10px;
    min-width: 150px;
    max-width: calc(33% - 22px);
}
 
.article__h2 {
    background-color: brown;
    color: white;
}

.article__img {
    max-width: 100%;
}
.aside {overflow: scroll;}