.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0px;
}
/*to jest źleeeee */
.witryna {
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "naglowek tr_glowna"
        "naglowek tr_boczna"
        "stopka stopka";
    grid-gap: 10px;
    padding: 0px;
}
.naglowek {
    grid-area: naglowek;
    background-color: wheat;
}

.lista--linki {
    padding: 0px;
}

.tresc {
    grid-area: tr_glowna;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}
.article {
    padding: 10px;
    border-left: 1px solid brown;
}

.article__img {
    width: 100%;
}
.aside {
    grid-area: tr_boczna;
    overflow: scroll;
    border: 2px groove red;
}
.stopka {
    grid-area: stopka;
    background-color: lightgrey;
    padding: 1px;
}