.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0rem;
}

.lista {
    list-style-type: lower-roman;
}

.naglowek {
    background-color: whitesmoke;
    background-image: url('grafika/Plemiona.png');
    background-position: right bottom;
    background-size: 390px 390px;
    background-origin: border-box;
    background-clip: content-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
    border: 30px ridge brown;
}

.tresc {
    background-image: url('grafika/gradient-poziomy.png');
    background-repeat: repeat-y;
}

.aside {
    background-image: url('grafika/gradient-pionowy.png');
    background-repeat: repeat-x;
}