.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0rem;
}

.naglowek {
    font-family: serif;
    font-style: oblique;
    font-weight: 100;
    font-size: 2ex;
}
.tresc {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: medium;
}
.aside {
    font-family: cursive;
    font-style: normal;
    font-weight: 600;
    font-size: x-large;
}
.stopka {
    font-family: monospace;
    font-style: normal;
    font-weight: 900;
    font-size: larger;
}