@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@font-face {
    font-family: "AlexBrush";
    src: url("czcionki/AlexBrush-Regular.ttf");
}
@font-face {
    font-family: "Dumb";
    src: url("czcionki/Dumb.ttf");
}

.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0rem;
}
.article__h2 {
    font-family: Dumb;
}
.article__p {
    font-family: AlexBrush;
}

.aside {
    font-family: 'Fondamento', cursive;
}

.stopka {
    font-family: 'Merienda One', cursive;
}