.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0px;
    padding: 0px;
}

.naglowek {
    text-indent: 50px;
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;
    line-height: 150%;
}

.tresc {
    text-indent: 1px;
    text-align: justify;
    word-spacing: 1.5ex;
    text-transform: capitalize;
}

.aside {
    letter-spacing: 1ex;
    text-align: right;
}

.stopka {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}