.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0px;
    padding: 0px;
}

.article__h2 {
    text-shadow: 5px 5px 5px gray;
}

.article__p {
    text-shadow: -1px -1px 3px red;
}