.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0px;
    padding: 0px;
}

.naglowek {
    counter-reset: numer-linku 0;
}
/*to nie dział*/
.lista__li--linki:before {
    counter-increment: numer-linku 1;
    content: counter(numer-linku) ": ";
}

.tresc {
    counter-reset: wladca 0;
}

.article__h2:before {
    counter-increment: wladca 1;
    content: counter(wladca, upper-roman) ". ";
}