.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0px;
    padding: 0px;
}

.article {
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    outline-color: maroon;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
    cursor: crosshair;
}

.formularz__pole {
    caret-color: red;
}