.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0px;
    padding: 0px;
}

.table {
    border-collapse: collapse;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: blue;
    border-right: 4px dotted green;
    border-bottom: 5px solid red;
    border-left: 2px dashed gray;
}

.table__tr {
    border-top: dashed blue;
    border-bottom: dashed blue;
}

.table__td {
    border-left: none;
    border-right: none;
    padding: 5px;
}

.table__th {
    background-color: yellow;
}