.dokument {
    font-size: 20px;
    color: indigo;
    padding: 20px;
  }
  
  .naglowek {
    background-color: darkorange;
    border: 20px solid maroon;
    border-radius: 10px;
    padding: 20px;
  }
  
  .tresc {
    margin: 2px;
    background-color: goldenrod;
    border: 20px solid indigo;
    border-radius: 10px;
    padding: 20px;
  }
  
  .article {
    margin-top: 20px;
    border: 2px solid maroon;
    border-radius: 10px;
    padding: 20px;
  }
  
  .article__h2 {
    background-color: darkorange;
    border: 2px solid maroon;
    border-radius: 10px;
    padding: 20px;
  }