$odleglosc-mala: 2px;
$odleglosc-duza: 20px;
$kolorB: maroon;
$kolorC: darkorange;
$kolorD: goldenrod;
$kolorE: indigo;
$promien: 10px;

@mixin krawedz($grubosc, $kolor, $promien) {
    border: $grubosc solid $kolor;
    border-radius: $promien;    
}

.dokument {
    font-size: $odleglosc-duza;
    color: $kolorE;
    padding: $odleglosc-duza;
}

.naglowek {
    background-color: $kolorC;
    @include krawedz($odleglosc-duza, $kolorB , $promien);
    padding: $odleglosc-duza;
}

.tresc {
    margin: $odleglosc-mala;
    background-color: $kolorD;
    @include krawedz($odleglosc-duza, $kolorD, $promien);
    padding: $odleglosc-duza;
}

.article {
    margin-left: $odleglosc-duza;
    @include krawedz($odleglosc-mala, $kolorB, $promien);
    padding: $odleglosc-duza;
}

.article_h2 {
    background-color: $kolorC;
    @include krawedz($odleglosc-mala, $kolorB, $promien);
    padding: $odleglosc-duza;
}

