.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0px;
    padding: 0px;
}

.article {
    background: linear-gradient(to right, white 30%, red);
}

.naglowek {
    background: radial-gradient(circle closest-corner at 80% 65%, red, white);
}

.table {
    background: repeating-linear-gradient(-45deg, white, red 10%, white 10%);
}
 
.stopka {
    background: repeating-radial-gradient(circle closest-corner at 80% 65%, white, red 10%, white 10%);
}