.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0px
}

.article__p {
    transition-delay: 0;
    transition-duration: 3s;
    transition-property: color, background-color;
    transition-timing-function: linear;
}

.article__p:hover {
    color: white;
    background-color: black;
}

.article__h2 {
    transition-property: font-size, color;
    transition-duration: 3s;
    transition-timing-function: linear;
}
.article__h2:hover {
    font-size: 300%;
    color: blue;
}
