.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0px
}

.naglowek {
    transform: rotateX(170deg);
    background-color: gold;
}

.tresc { 
    transform: rotateY(170deg);
    background-color: goldenrod;
}

.table {
    transform: rotateZ(170deg);
    background-color: gold;
}

.stopka {
    transform: rotate3d(10, 60, 1, 40deg);
    background-color: goldenrod;
}
