.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0px
}

.article__h2 {
    animation-duration: 4s;
    animation-name: animacja;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacja {
    0% {background-color: white;}
    33% {background-color: yellow;}
    66% {background-color: gold;}
    100% {background-color: goldenrod;}
}