.dokument {
    font-size: 20px;
    background-color: snow;
    color: black;
    margin: 0;
    padding: 0px;
}

.article__img {
    max-width: 100%;
}

.formularz {
    display: flex;
    flex-direction: column;
}

.witryna {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "naglowek" 
                        "nawigacja" 
                        "tresc" 
                        "dodatek" 
                        "reklamy" 
                        "stopka";

}
.naglowek {
    grid-area: naglowek;
    background-color: goldenrod;
}

.nawigacja {
    grid-area: nawigacja;
    background-color: yellow;
}
.tresc {
    grid-area: tresc;
    background-color: gold;
}

.dodatek {
    grid-area: dodatek;
    background-color: bisque;
}

.reklamy {
    grid-area: reklamy;
    background-color: beige;
}

.stopka {
    grid-area: stopka;
    background-color: lightgray;
}

@media (min-width: 500px) {
    .witryna {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "naglowek naglowek"
                            "nawigacja nawigacja"
                            "dodatek tresc"
                            "reklamy stopka";
    }
    .lista--linki {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .lista__li--linki {
        display: inline;
    }
}

@media (min-width: 750px) {
    .witryna {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "naglowek naglowek naglowek"
                            "nawigacja tresc dodatek"
                            "nawigacja tresc reklamy"
                            "stopka stopka stopka";
    }
    .lista--linki {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        padding: 0px;
    }
    .lista__li--linki {
        display: inline;
    }
}